.login,
.signup{
    background-color: rgba(1,1,1,0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_form{
    width: 50%;
    display: flex;
    justify-content: center;
}

.form_left{
    padding: 30px;
    background-color: var(--white-color);
    flex: 1;
}

.form_header{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    
}

.form_left form div{
    margin-top: 16px;
    margin-bottom: 8px;
    
}

.form_left form label{
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    margin-bottom: 4px;
    margin-left: 4px;
}

.form_left form div input[type="text"],
.form_left form div input[type="password"]{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: rgba(1,1,1,0.1);
    padding: 2px 8px;
    outline: none;
}

.form_left form button{
    display: block;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(90deg, #e76363, #e36183); 
    color: var(--white-color);
    font-size: 1.4rem;
    border: none;
    border-radius: 12px;
    padding: 8px 0;
    margin-top: 16px;
}

.form_left .remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    font-size: 1.4rem;
}

.form_left .remember a{
    text-decoration: none;
}


.form_right{
    flex: 1;
    background-image: linear-gradient(120deg, #e76363, #e36183);
    padding: 30px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 2.2rem;
    font-weight: 600;
}
.question{
    font-size: 1.6rem;
    margin: 20px 0;
}


.form_right a{
        text-decoration: none;
    color: var(--white-color);
    height: 30px;
    border: 1px solid var(--white-color);
    background: transparent;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 1.6rem;
}

.login button:hover,
.signup button:hover{
    cursor: pointer;
    opacity: 0.8;
}

